body {
	background-image: url("/Assets/0022G.gif");
	background-color: black;
	margin:0;
	padding:0;

}
.p {
	color:white;
	font-size:130%;
	text-align:center
}
#Header {
	margin-top: -2px;
/* 	margin-left: -1%; */
	max-width: 100%;
	text-align: center;
	background-color: black;
}
#Bio {
	font-size:150%;
	text-align:center;
	color: white;
	background-color:black;
	margin:auto;
	min-width: 480px;
	width:25%;
	padding-left: 2%;
	padding-right: 2%

}
#img {
	image-rendering:pixelated

}
#footer {
	position: fixed;
	bottom: 0;
	width: 99.69%;
	height: 80px;
	border: solid transparent;
}
.buttonsdiv {
	padding-left:2%;
	padding-right:2%;
	image-rendering: pixelated;
	text-align:center;
	margin: auto;
	width:25%;
	height:105%;
	min-width: 480px;
	bottom:0;
	background-color: gray;
}
