@font-face {
   font-family:ibmbios;
   src: url(fonts/ibmbios.woff) format('woff');
/*   src: url(fonts/ibmbios.ttf) format('ttf')*/
}

* {
   font-family:ibmbios;
   font-size:93%;
   font-smooth: never;
    -webkit-font-smoothing: none;
}

body {
    margin:0;
    background-color:black;
    color:white;
   font-size:calc(0.25vh + 16px);
}
a {
	text-decoration: none;
    color:white;
}
a:hover {
    cursor:pointer;
    color:yellow;
}
hr {
  border: none;
    border-top-style:dashed;
    border-width: 5px;
}
p {
    text-indent:50px;
}
audio {
    display:none;
}
img {
    image-rendering:pixelated;
}
#logo {
z-index:2;
margin-left:15%;
}
#logoshadow{
    opacity: 0.7;
    position:absolute;
    left:15%;
    top:0%;
}
#socials{
      z-index:0;
      position:absolute;
      top:25px;
      width:90%;
      text-align:right;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
}


#friends {
    padding-top:5px;
    border-style:dashed;
    border-width: 5px;
    top:2%;
    margin:auto;
    position:relative;
    width:calc(35vw + 150px);
    height:40%;
    background-color:white;
    color:black;
}
#main {
    border-style:dashed;
    border-width: 5px;
    margin:auto;
    top:200%;
    position:relative;
/*     height: 60%; */
    width:calc(40vw + 150px);
/*     margin:5px; */
    background-color:black;
    color:white;

}
#pause {
    display:none;
}
