body {
	background-color: black;
}
@keyframes background {
	0% {background-color: blue;}
	25% {background-color: purple;}
	75% {background-color:purple;}
	100% {background-color:blue;}

}
.background {
	width: 100px;
	height: 100px;
	background-color: red;
	animation-name: background;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
